.u-section-6 {
    background-image: none;
  }
  
  .u-section-6 .u-sheet-1 {
    min-height: 100vh;
  }
  
  .u-section-6 .u-text-1 {
    margin: 48px auto 0;
  }
  
  .u-section-6 .u-table-1 {
    margin-top: 48px;
    margin-bottom: 60px;
  }
  
  .u-block-9add-44 {
    background-image: none;
    font-weight: 700;
  }
  
  .u-block-9add-41 {
    background-image: none;
    font-weight: 700;
  }
  
  .u-section-6 .u-table-header-1 {
    font-weight: 700;
  }
  
  .u-section-6 .u-table-cell-7 {
    font-weight: 700;
    background-image: none;
  }
  
  .u-section-6 .u-table-cell-13 {
    font-weight: 700;
    background-image: none;
  }
  
  .u-section-6 .u-table-cell-14 {
    background-image: none;
  }
  
  .u-section-6 .u-table-cell-15 {
    background-image: none;
  }
  
  .u-section-6 .u-table-cell-16 {
    background-image: none;
  }
  
  .u-section-6 .u-table-cell-17 {
    background-image: none;
  }
  
  .u-section-6 .u-table-cell-18 {
    background-image: none;
  }
  
  .u-section-6 .u-table-cell-19 {
    font-weight: 700;
    background-image: none;
  }

  #approveBtn:hover{
    background-color: #2E4F4F;
  }

  #declineBtn:hover{
    background-color: #DF2E38;
  }