.u-section-3 {
    background-image: url("../../../images/upload_contract/background.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 777px;
  }
  
  .u-section-3 .u-text-1 {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 94px auto 0 0;
  }
  
  .u-section-3 .u-image-1 {
    width: 570px;
    height: 532px;
    margin: 114px 0 0 auto;
  }
  
  .u-section-3 .u-form-1 {
    height: 381px;
    background-image: linear-gradient(#8f94e1, #eeeffb);
    margin: -601px 635px 60px 0;
  }
  
  .u-section-3 .u-label-1 {
    letter-spacing: 2px;
    font-weight: 700;
  }
  
  .u-section-3 .u-input-1 {
    background-image: none;
  }
  
  .u-section-3 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-3 .u-label-2 {
    letter-spacing: 2px;
    font-weight: 700;
  }
  
  .u-section-3 .u-input-2 {
    background-image: none;
  }
  
  .u-section-3 .u-label-3 {
    letter-spacing: 2px;
    font-weight: 700;
  }
  
  .u-section-3 .u-input-3 {
    background-image: none;
  }
  
  .u-section-3 .u-btn-1 {
    border-style: none;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 548px;
    }
  
    .u-section-3 .u-image-1 {
      width: 414px;
      height: 424px;
      margin-top: 164px;
    }
  
    .u-section-3 .u-form-1 {
      margin-top: -509px;
      margin-right: 435px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 445px;
    }
  
    .u-section-3 .u-image-1 {
      width: 307px;
      height: 287px;
      margin-top: 506px;
    }
  
    .u-section-3 .u-form-1 {
      margin-top: -714px;
      margin-right: 215px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 361px;
    }
  
    .u-section-3 .u-image-1 {
      width: 328px;
      height: 306px;
      margin-top: 507px;
    }
  
    .u-section-3 .u-form-1 {
      margin-top: -734px;
      margin-right: 35px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 268px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-image-1 {
      margin-top: 534px;
    }
  
    .u-section-3 .u-form-1 {
      margin-top: -761px;
      margin-right: 0;
    }
  }