.u-section-10 {
    min-height: 986px;
  }
  
  .u-section-10 .u-shape-1 {
    background-image: none;
    width: calc(((100% - 1140px) / 2)  + 636px);
    left: 0;
    right: auto;
  }
  
  .u-section-10 .u-image-1 {
    width: 881px;
    height: 624px;
    margin: 13px calc(((100% - 1140px) / 2)) 0 auto;
  }
  
  .u-section-10 .u-group-1 {
    width: 514px;
    min-height: 509px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    height: auto;
    background-image: linear-gradient(#bcc0ee, #8f94e1);
    margin: -347px auto 60px calc(((100% - 1140px) / 2));
  }
  
  .u-section-10 .u-container-layout-1 {
    padding: 23px 42px;
  }
  
  .u-section-10 .u-text-1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 13px 13px 0 3px;
  }
  
  .u-section-10 .u-form-1 {
    height: 325px;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
    width: 422px;
    margin: 45px auto 0;
  }
  
  .u-section-10 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-section-10 .u-label-1 {
    font-size: 1.25rem;
  }
  
  .u-section-10 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-10 .u-label-2 {
    font-size: 1.25rem;
  }
  
  .u-section-10 .u-btn-1 {
    width: 100%;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-10 .u-shape-1 {
      width: calc(((100% - 940px) / 2) + 594px);
    }
  
    .u-section-10 .u-image-1 {
      width: 720px;
      height: 510px;
      margin-right: calc(((100% - 940px) / 2));
    }
  
    .u-section-10 .u-group-1 {
      margin-top: -239px;
      margin-left: calc(((100% - 940px) / 2));
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-10 {
      min-height: 872px;
    }
  
    .u-section-10 .u-shape-1 {
      width: calc(((100% - 720px) / 2) + 575px);
    }
  
    .u-section-10 .u-image-1 {
      width: 643px;
      height: 429px;
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-10 .u-group-1 {
      margin-top: -158px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-10 .u-container-layout-1 {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-10 {
      min-height: 745px;
    }
  
    .u-section-10 .u-shape-1 {
      width: calc(((100% - 540px) / 2) + 360px);
    }
  
    .u-section-10 .u-image-1 {
      width: 494px;
      height: 329px;
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-10 .u-group-1 {
      margin-top: -58px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-10 .u-container-layout-1 {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-10 {
      min-height: 603px;
    }
  
    .u-section-10 .u-shape-1 {
      width: calc(((100% - 340px) / 2) + 284px);
    }
  
    .u-section-10 .u-image-1 {
      width: 340px;
      height: 227px;
      margin-top: -866px;
      margin-right: auto;
    }
  
    .u-section-10 .u-group-1 {
      width: 340px;
      margin-top: 36px;
      margin-left: auto;
      margin-bottom: 51px;
    }
  
    .u-section-10 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-10 .u-form-1 {
      width: 320px;
    }
  }